torchaudio==2.0.2
torchvision==0.15.2
datasets==2.14.7
sentencepiece>=0.1.97
accelerate>=0.15.0
deepspeed==0.17.4
huggingface-hub==0.33.4
ninja==1.11.1
tokenizers==0.14.1
transformers==4.50.0
protobuf==4.23.4
tensorboard==2.14.0
tensorboard-data-server==0.7.1
Jinja2==3.1.2
multiprocess==0.70.15
networkx==3.1
nltk==3.5
rouge==1.0.1
fuzzywuzzy
quadprog
peft
qpth
sacrebleu
sacremoses
safetensors
xxhash
cvxpy
pyarrow_hotfix